---
import Layout from '../layouts/Layout.astro';
import flechaDown from '../components/Icons/flechaDown.astro';
---

<Layout title="Contacto.">
	 <main>
		<h2>Puedes contactar conmigo a través de los siguientes canales</h2>
		<flechaDown/>
	 </main>
</Layout>
<style>
	
</style>