---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import myself from '../img/myself2.jpg';
import Badge from '../components/Badge.astro';
---
<Layout title="Portafolio ViLoDev">
    <main class="flex justify-center items-center flex-col mt-10 md:mt-40 mb-10 md:mb-20">
        <section class="flex flex-col items-start">
            <Image
                class="rounded-full size-12 mb-4"
                src={myself}
                alt="midudev photo"
            />
            <h1
                class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex items-center gap-x-4 pb-6 lg:pb-10"
            >
                Hey, soy vilodev <a
                    href="https://www.linkedin.com/in/vicent-lozano-hervas-9bb498187?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAACwINJ8B9u2AnoPr-2fvxh0bW4IXmKY5AaY&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BiC1uyoWlQJe6LN2gPgmk%2Bw%3D%3D"
                    target="_blank"
                    rel="noopener"
                    class="flex justify-center items-center"
                >
                    <Badge>Disponible para trabajar</Badge>
                </a>
            </h1>

					<span class = "">
						Estudio Desarrollo de Aplicaciones Web en el IES Jaume II el Just, en Tavernes, Valencia.
					</span>
					<span class = "">
						Me encanta el mundo de la programación y la tecnología y me gustaría poder dedicarme a ello en un futuro.
					</span>
					<span class = "">
						Actualmente estoy aprendiendo Html, CSS Javascript, React y Astro, y me gustaría aprender Swift y Kotlin.
		</section>
	 </main>
</Layout>