---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
const title = 'Portafolio ViLoDev';
import { Image } from 'astro:assets';
import myself2 from '../img/myself2.jpg';
---
<Layout title={title}>
    <main class ="main">
       <section class = "section">
                   <Image src={myself2} alt = myself2 class = "myself2" />
                   <h1 class ="h1">Hey, soy vilodev <a href ="https://www.linkedin.com/in/vicent-lozano-hervas-9bb498187?miniProfileUrn=urn%3Ali%3Afs_miniProfile%3AACoAACwINJ8B9u2AnoPr-2fvxh0bW4IXmKY5AaY&lipi=urn%3Ali%3Apage%3Ad_flagship3_search_srp_all%3BiC1uyoWlQJe6LN2gPgmk%2Bw%3D%3D"
                       target = "_blank" class = "a"><Badge>Disponible para trabajar</Badge></a></h1>
                   
                   <p>Estudio Desarrollo de Aplicaciones Web en el IES Jaume II el Just, en Tavernes, Valencia.</p>
                   <p>Me encanta el mundo de la programación y la tecnología y me gustaría poder dedicarme a ello en un futuro.</p>
                   <p>Actualmente estoy aprendiendo Html, CSS Javascript, React y Astro, y me gustaría aprender Swift y Kotlin.</p>
       </section>
    </main>
</Layout>

 