---

---

<section  class = "cuadricula">
    <a href="https://www.instagram.com/vicentlozano94" class="text- w-full h-full instagram">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="100%" height="100%" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg>
    </a>
    <a href="https://www.twitter.com/vicentlozano94" class="text- w-full h-full twitter">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-x" width="100%" height="100%" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4l11.733 16h4.267l-11.733 -16z" /><path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772" /></svg>
    </a>
    <a href="https://www.linkedin.com/in/vicentlozano94" class="text- w-full h-full linkedin">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="100%" height="100%"  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
            <path d="M8 11l0 5" />
            <path d="M8 8l0 .01" />
            <path d="M12 16l0 -5" />
            <path d="M16 16v-3a2 2 0 0 0 -4 0" />
          </svg>
    </a>
    <a href="https://api.whatsapp.com/send?phone=34694501662" class="text- w-full h-full whatsapp">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp" width="100%" height="100%" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
    </a>
    <a href="mailto:lozanodroid@gmail.com" class="text- w-full h-full email">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail-forward" width="100%" height="100%" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5" /><path d="M3 6l9 6l9 -6" /><path d="M15 18h6" /><path d="M18 15l3 3l-3 3" /></svg>
    </a>
    
    

</section>


<style>
    .cuadricula{
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "instagram email linkedin" 
                             "twitter email whatsapp";
        gap:2rem;
        justify-items: center;
        align-items: center;
        max-height: 300px;
        
    }
    .cuadricula a {
    height: 130px;
    width: 130px; /* Ajusta este valor a tus necesidades */
    }
    .instagram{
        grid-area: instagram;
        color: #E1306C;
    }
    .twitter{
        grid-area: twitter;
        color: #1DA1F2;
    }
    .linkedin{
        grid-area: linkedin;
        color: #0077B5;
    }
    .whatsapp{
        grid-area: whatsapp;
        color: #25D366; 
    }
    .email{
        grid-area: email;
        color: #D44638;  
    }
    .instagram, .twitter, .linkedin, .whatsapp, .email {
      background-size: contain;
    }
    
    @media (max-width:768px){
   
        .cuadricula a {
            width: 80%;
            height: auto;
      
    }}
    
   
    </style>