---
import Github from "./Icons/Github.astro";
import Twitter from "./Icons/x(twitter).astro";
import Instagram from "./Icons/Instagram.astro";
---

<section class="footer">
    <a href="https://www.instagram.com/vicentlozano94" class="link-redes-sociales">
        <Instagram class="w-8 h-8 md:w-12 md:h-12" alt="Instagram de Vicent Lozano"/>
    </a>
    <a href="https://www.twitter.com/vicentlozano94" class="link-redes-sociales">
        <Twitter class="w-8 h-8 md:w-12 md:h-12" alt="Twitter de Vicent Lozano"/>
    </a>
    <a href="https://github.com/vicentlozano" class="link-redes-sociales">
        <Github class="w-8 h-8 md:w-12 md:h-12" alt="Github de Vicent Lozano"/>
    </a>
</section>
<style>
   
   .footer {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        gap: 3rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    
    }
</style>

