---
import Github from "./Icons/Github.astro";
import Twitter from "./Icons/x(twitter).astro";
import Instagram from "./Icons/Instagram.astro";
---

<section class="footer">
    <a href="https://www.instagram.com/vicentlozano94" class="text-white">
        <Instagram class = "w-8 h-8 md:w-12 md:h-12"/>
    </a>
    <a href="https://www.twitter.com/vicentlozano94" class="text-white">
        <Twitter class = "w-8 h-8 md:w-12 md:h-12"/>
    </a>
    <a href="https://github.com/vicentlozano" class="text-white">
        <Github class = "w-8 h-8 md:w-12 md:h-12"/>
    </a>
</section>
<style>
    .footer {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        gap: 3rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    
    }
    
</style>

