---
import Github from "./Icons/Github.astro";
import Twitter from "./Icons/x(twitter).astro";
import Instagram from "./Icons/Instagram.astro";
---

<section class="flex justify-center items-center  space-x-4 md:space-x-8 lg:space-x-20 mt-auto  fixed bottom-20 left-1/2 transform -translate-x-1/2">
    <a href="https://www.instagram.com/vicentlozano94" class="text-white">
        <Instagram class = "w-8 h-8 md:w-12 md:h-12"/>
    </a>
    <a href="https://www.twitter.com/vicentlozano94" class="text-white">
        <Twitter class = "w-8 h-8 md:w-12 md:h-12"/>
    </a>
    <a href="https://github.com/vicentlozano" class="text-white">
        <Github class = "w-8 h-8 md:w-12 md:h-12"/>
    </a>
</section>