---

---
<div class = "flex justify-center space gap-x-6 opacity-80 mt-4">
    <a href = "/">Inicio</a>
    <a href = "/Experience">Experiencia</a>
    <a href = "/Projects">Proyectos</a>
    <a href = "/Contact">Contacto</a>
    <a href = "/AboutMe">Sobre Mi</a>
</div>